.profile-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  margin: 0 auto;
  animation: fadeIn 2s ease forwards;
}
.profile-image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto 20px;
  margin-right: 20px;
  animation: fadeIn 2s ease forwards;
}
.intro-text .about {
  text-align: justify;
  margin-left: 20px;
  width: 440px;
  margin: auto 20px 40px auto;
  animation: fadeIn 2s ease forwards;
  flex: 1;
}
.resume-btn {
  border: 1px solid black;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  margin: 5px auto auto 0px;
  font-size: medium;
  font-weight: 500;
  animation: fadeIn 2s ease forwards;
}
.resume-btn:hover {
  cursor: pointer;
  width: 120px;
  height: 50px;
  border-radius: 25px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
