@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  background-color: #ffffff;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
